.p-small {
  font-size: 0.875em;
  margin: 0;
}


.socials-row {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: row;
  display: flex;
}

.menu-bg {
  z-index: 0;
  position: absolute;
  inset: 0%;
}

.bg-panel {
  z-index: 0;
  background-color: #e3e1de;
  border-top-left-radius: 1.25em;
  border-bottom-left-radius: 1.25em;
  position: absolute;
  inset: 0%;
}

.bg-panel.first {
  background-color: #93a3a3;
}

.bg-panel.second {
  background-color: #000;
}

.nav {
  z-index: 9;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: fixed;
  inset: 0%;
}

.menu {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35em;
  height: 100%;
  margin-left: auto;
  padding-top: 6em;
  padding-bottom: 2em;
  position: relative;
  overflow: auto;
}

.eyebrow {
  z-index: 1;
  color: #000 0.25;
  text-transform: uppercase;
  font-family: Grapevine, Arial, sans-serif;
  font-weight: 400;
  position: relative;
  font-size: 4em;
}

.menu-inner {
  z-index: 1;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: flex;
  position: relative;
  overflow: auto;
  background-color: transparent;
}

.p-large {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125em;
}

.p-large.text-link {
  color: #131313;
  font-family: Moula, Arial, sans-serif;
}

.menu-details {
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2em;
  display: flex;
}

.menu-list-item {
  height: 6em;
  position: relative;
  overflow: hidden;
}

.menu-list {
  flex-flow: column;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.menu-link {
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
  color: #131313;
  width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 2em;
  text-decoration: none;
  display: flex;
}

.menu-link-heading {
  z-index: 1;
  text-transform: uppercase;
  font-family: Grapevine, Arial, sans-serif;
  font-size: 5.625em;

  @media (max-width: 1024px) {
    font-size: 4em;
  }

  @media (max-width: 768px) {
    font-size: 3em;
  }

  @media (max-width: 480px) {
    font-size: 2em;
  }
  font-weight: 700;
  line-height: 0.75;
  transition: transform 0.55s cubic-bezier(0.65, 0.05, 0, 1);
  position: relative;
}

.menu-link-heading:hover {
  transform: translateY(-0.06em);
}

.overlay {
  z-index: 0;
  cursor: pointer;
  background-color: #13131366;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.menu-button {
  z-index: 10;
  grid-column-gap: 0.625em;
  grid-row-gap: 0.625em;
  justify-content: flex-end;
  align-items: center;
  margin: -1em;
  padding: 1em;
  display: flex;
}

.menu-button-text {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 2rem;
  display: flex;
  overflow: hidden;
}

.icon-wrap {
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0, 1);
}

.menu-button-icon {
  width: 2em;
  height: 2em;
}

.header {
  z-index: 10;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0.1rem;
  left: 2em;
  right: 2em;
}
