.mobile-menu {
  background-image: url("../../assets/images/Butterfly.svg");
}

.navbar-menu {
  transition: height 0.3s ease, opacity 0.3s ease;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.navbar-menu .show {
  height: auto;
  opacity: 1;
}
