.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 0.5fr repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.header {
  grid-area: 1 / 1 / 1 / 13;
  height: fit-content;
}
.content {
  height: fit-content;
  width: 100dvw;
  grid-area: 2 / 1 / 10 / 13;
}
.footer {
  grid-area: 10 / 1 / 11 / 13;
}
