@font-face {
  font-family: "Moula";
  src: url(../src/assets/fonts/moula/Moula.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grapevine";
  src: url(../src/assets/fonts/grapevine/Grapevine.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hlTitle {
  font-family: "Moula";
}

.heading {
  font-family: "Moula";
  font-size: 6rem;
  color: #000;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
@media (max-width: 768px) {
  .heading {
    font-family: "Moula";
    font-size: 4rem;
    color: #000;
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }
}

.welcome-text {
  font-family: "Moula";
  font-size: 1.5rem;
  color: #000;
  padding: 10px;
  text-align: left;
}

h3,
h2,
h1 {
  font-family: "MOULA";
  font-size: 2em;
  color: #000;
  padding: 10px;
  text-align: center;
}

.header-bg {
  background-image: url("../src/assets/images/bg.jpeg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .header-bg {
    background-position: left;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.hero-content {
  justify-content: left;
  align-items: end;
  height: 100%;
  width: 60%;
  margin-top: 30%;
}

@media (max-width: 768px) {
  .hero-content {
    width: 100%;
    margin-top: 50%;
  }
}

.bg-hero {
  background-image: url("../src/assets/images/bg.jpeg");
  display: flex;
  flex-direction: column;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90dvh;
  width: 100dvw;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: end;
 
}
@media (max-width: 768px) {
  .bg-hero {
    background-position: right;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.hero-bottom {
  background-color: #f9f9f9;
  padding: 1rem;
  font-weight: 700;
  font-size: x-large;
  height: 30dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-family: "Grapevine";
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
}

/* App.css o el archivo CSS relevante */
.navbar-menu.show {
  display: block !important;
}

.navbar-menu.hide {
  display: none !important;
}

h1,
a,
p {
  font-family: "Moula";
  color: black;
  text-align: left;
  font-size: clamp(1em, 2vw, 1.15em);
}

h1 {
  font-size: clamp(4em 5vw 6em);
  font-weight: bold;
  text-align: left;
}
